@import "reset.css";

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #140e3d;
}

* {
  box-sizing: border-box;
}

img {
  height: 800px;
}

.logo {
  position: static;
  margin-left: 100px;
  margin-top: 350px;
}

.image {
  background-size: 700px;
  position: static;
  margin-left: -600px;
  margin-top: 900px;
}

.arm1 {
  background-size: 600px;
  display: flex;
  position: static;
  margin-left: -600px;
  margin-top: -900px;
}

.arm2 {
  background-size: 600px;
  display: flex;
  position: static;
  margin-left: -600px;
  margin-top: 50px;
}

.circle {
  box-sizing: border-box;
}

#circle1 {
  display: flex;
  position: static;
  width: 300px;
  height: 300px;
  background: #b100c3;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 150px;
}

#circle1:hover{
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
30
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
31
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);

}

#circle2 {
  display: flex;
  position: static;
  width: 200px;
  height: 200px;
  background: #7000c6;
  border-radius: 50%;
  margin-top: 250px;
  margin-left: 195px;
  opacity: 0.8;
}

#circle2:hover{
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
30
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
31
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);

}

#circle3 {
  display: flex;
  /* position: fixed; */
  width: 100px;
  height: 100px;
  background: #410279;
  border-radius: 50%;
  margin-top: 205px;
  margin-left: 243px;
}

#circle3:hover{
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
30
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
31
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);

}

#circle4 {
  display: flex;
  /* position: fixed; */
  width: 50px;
  height: 50px;
  background: #2a0f79;
  border-radius: 50%;
  margin-top: 200px;
  margin-left: 270px;
  margin-bottom: 50px;
}

#circle4:hover{
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
30
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
31
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);

}

.text {
  /* margin-top: -2500px; */
  margin-left: 500px;
  font-family: 'Roboto Mono', monospace;
  font-size: 100px;
  color: white;
}

#text1 {
  /* display: block;
  position: static; */
  margin-top: 470px;
  /* margin-left: 50px; */
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  color: white;
}

#text2 {
  /* position: static; */
  margin-top: 50px;
  /* margin-left: 100px; */
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  color: white;
}

#text3 {
  /* position: static; */
  margin-top: 50px;
  /* margin-left: 240px; */
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  color: white;
}

#text4 {
  /* position: static; */
  margin-top: 50px;
  /* margin-left: 240px; */
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  color: white;
}
